rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /ring-images/{userId}/{fileName} {
      allow read: if true;
      allow write, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /company-logos/{userId}/{fileName} {
      allow read: if true;
      allow write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
